@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  gutter.gutter-horizontal:hover {
    cursor: e-resize;
  }
}
